.jumbotron {
  padding-top: 100px;
  padding-bottom: 1px;
  background-color: #ffcd61;
}

#project {
  background-color: #ffcd61;
}

.footer {
  padding: 2rem 1rem;
  background-color: #000000;
}

section {
  padding-top: 8rem;
}
